<%
if @page
  title(@page.permalink, false)
  content_from_database = @page.content
else
  title(params[:permalink].capitalize, false)
end
%>

<% content_for :pages_content do %>
  <% if @page %>
    <%= content_from_database %>
  <% else %>
    <%
    filename = RAILS_ROOT + '/app/views/pages/source/_' +
      params[:permalink] + '.html.erb'
    f = File.new(filename)
    if File.exists?(filename)
      %>
      <%= render :partial => '/pages/source/' + params[:permalink] %>
      <%
    end
    %>
  <% end %>
<% end %>

<% if @page %>
  <p>
    <%= link_to "Edit", edit_page_path(@page) %> |
    <%= link_to "Destroy", @page, :confirm => 'Are you sure?', :method => :delete %> |
    <%= link_to "View All", pages_path %>
  </p>
<% end %>

