<div class="uncolumned">
  <p>Founded in 1992 by John Warren and Phu Tran, <%= COMPANY_NAME %> is a privately held corporation based in Houston, Texas. We specialize in providing custom solutions for shared equipment airports such as <%= arinc_link %>, <%= sita_link %> and <%= resa_link %>. We take pride in delivering innovative, cost-effective solutions tailored to our clients' needs.</p>
</div>
<div class="columned">  
  <div class="outer one_half">
    <div class="inner">
      <div class="image borderless">
        <% content_tag :div, :class => 'left' do %>
          <%= image_tag 'takeoff.jpg', :width => 200, :height => 150 %>
        <% end %>
      </div>
      <div class="text">
        <h2 class="with_subheader">John Warren</h2>
        <h3 class="subheader">Managing director</h3>
        <p>John has been managing the development of air travel communication software for more than 30 years.</p>
      </div>
    </div>
  </div>
  
  <div class="outer one_half">
    <div class="inner">
      <div class="image borderless">
        <% content_tag :div, :class => 'left' do %>
          <%= image_tag 'takeoff.jpg', :width => 200, :height => 150 %>
        <% end %>
      </div>
      <div class="text">
        <h2 class="with_subheader">Phu Van Tran</h2>
        <h3 class="subheader">Manager of software engineering</h3>
        <p>Phu has more than 30 years of experience developing air travel communication software for use in shared equipment airports.</p>
      </div>
    </div>
  </div>
</div>

<!--
<div class="uncolumned">
  <p>Founded in 1992 by John Warren and Phu Tran, <%= COMPANY_NAME %> is a privately held corporation based in Houston, Texas. We specialize in providing custom solutions for shared equipment airports such as <a href="">ARINC MUSE</a>, <a href="">SITA CUTE</a> and <a href="">RESA CREWS</a>. We take pride in delivering innovative, cost-effective solutions tailored to our clients' needs.</p>
  <div class="clearfix">
    <% content_tag :div, :class => 'right' do %>
      <%= image_tag 'takeoff.jpg', :width => 200, :height => 150 %>
    <% end %>
    <h2 class="with_subheader">John Warren</h2>
    <h3 class="subheader">Managing director</h3>
    <p>John has been managing spent more than 30 years of experience in the development of airline communication software.</p>
  </div>
  <div class="clearfix">
    <% content_tag :div, :class => 'left' do %>
      <%= image_tag 'takeoff.jpg', :width => 200, :height => 150 %>
    <% end %>
    <h2 class="with_subheader">Phu Van Tran</h2>
    <h3 class="subheader">Manager of software engineering</h3>
    <p>Phu has more than 30 years of experience developing air travel communication software for use in shared equipment airports.</p>
  </div>
</div>
-->
