<% content_tag :div, :class => 'left' do %>
  <%= image_tag 'contact.jpg', :width => 300, :height => 198 %>
<% end %>

<div class="text large_text">
  <p>
    <strong><%= COMPANY_NAME %></strong><br />
    11250 West Rd, Unit L<br />
    Houston, TX 77065<br />
    <br />
    <%= t(:email).capitalize %>: <%= INQUIRY_EMAIL %><br />
    <%= t(:telephone_abbreviation).capitalize %>: (281) 970-3700<br />
    <%= t(:fax).capitalize %>: call<br />
  </p>
</div>
