<div class="uncolumned">
  <div class="clearfix">
    <div class="right">
      <%= rounded_box(%Q{
        <h2>#{t :benefits_header}:</h2>
        <ul class="compact">
          <li>#{t :benefits_easy_installation}</li>
          <li>#{t :benefits_straight_forward_operation}</li>
          <li>#{t :benefits_cost_saving_automation}</li>
          <li>#{t :benefits_guaranteed_certification}</li>
        </ul>
      }) %>
    </div>
    <%= t :products_introduction, :company_name => COMPANY_NAME %>
  <div class="anchor"><a name="self_service"></a></div>
  <div class="clearfix">
    <% content_tag :div, :class => 'left' do %>
      <%= image_tag 'self_check_in_kiosk.jpg', :width => 250, :height => 179 %>
    <% end %>
    <h2><%= t :self_check_in_header %></h2>
    <%= t :self_check_in_description %>
  </div>
  
  <div class="anchor"><a name="passenger_check_in"></a></div>
  <div class="clearfix">
    <% content_tag :div, :class => 'right' do %>
      <%= image_tag 'agent.jpg', :width => 250, :height => 253 %>
    <% end %>
    <h2><%= t :passenger_check_in_header %></h2>
    <%= t :passenger_check_in_description,
      :terminal_emulation_link => terminal_emulation_link %>
  </div>
  
  <div class="anchor"><a name="boarding_control"></a></div>
  <div class="clearfix">
    <% content_tag :div, :class => 'left' do %>
      <%= image_tag 'boarding_control.jpg', :width => 250, :height => 198 %>
    <% end %>
    <h2><%= t :boarding_control_header %></h2>
    <%= t :boarding_control_description, :company_name => COMPANY_NAME %>
  </div>
  
  <div class="anchor"><a name="terminal_emulation"></a></div>
  <div class="clearfix">
    <% content_tag :div, :class => 'right' do %>
      <%= image_tag 'terminal_emulator.jpg', :width => 250, :height => 181 %>
    <% end %>
    <h2><%= t :terminal_emulation_header %></h2>
    <%= t :terminal_emulation_description, :company_name => COMPANY_NAME %>
  </div>
  
  <div class="anchor"><a name="peripherals"></a></div>
  <div class="clearfix">
    <% content_tag :div, :class => 'left' do %>
      <%= image_tag 'barcode_reader.jpg', :width => 250, :height => 205 %>
    <% end %>
    <h2><%= t :peripheral_management_header %></h2>
    <%= t :peripheral_management_description, :company_name => COMPANY_NAME %>
  </div>
</div>
