<div class="uncolumned">
  <div class="clearfix">
    <% content_tag :div, :class => 'right callout clearfix' do %>
      <div>
        <h2>Key benefits:</h2>
        <ul>
          <li>Easy installation</li>
          <li>Straight-forward operation</li>
          <li>Cost-saving automation</li>
          <li>Guranteed certification</li>
        </ul>
      </div>
    <% end %>
    <p>
      Our products meet IATA and AEA standards and are compatible with airline reservation and departure control systems world-wide. <%= COMPANY_NAME %> delivers software that will fully utilize your configuration and peripheral devices. We offer both Windows™ and browser-based applications and can provide a cost-effective migration path from ALC or UTS to IP protocol.
    </p>
  </div>
  <div class="anchor"><a name="self_service"></a></div>
  <div class="clearfix">
    <% content_tag :div, :class => 'left' do %>
      <%= image_tag 'takeoff.jpg', :width => 250, :height => 165 %>
    <% end %>
    <h2>Self-service check-in</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et est justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  </div>
  
  <div class="anchor"><a name="gui"></a></div>
  <div class="clearfix">
    <% content_tag :div, :class => 'right' do %>
      <%= image_tag 'takeoff.jpg', :width => 250, :height => 165 %>
    <% end %>
    <h2>GUI client (Windows™ or web-based)</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et est justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  </div>
  
  <div class="anchor"><a name="boarding"></a></div>
  <div class="clearfix">
    <% content_tag :div, :class => 'left' do %>
      <%= image_tag 'takeoff.jpg', :width => 250, :height => 165 %>
    <% end %>
    <h2>Passenger boarding</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et est justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam consequat tincidunt purus ac tincidunt.</p>
  </div>
  
  <div class="anchor"><a name="terminal_emulation"></a></div>
  <div class="clearfix">
    <% content_tag :div, :class => 'right' do %>
      <%= image_tag 'takeoff.jpg', :width => 250, :height => 165 %>
    <% end %>
    <h2>Terminal emulation</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et est justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  </div>
  
  <div class="anchor"><a name="peripherals"></a></div>
  <div class="clearfix">
    <% content_tag :div, :class => 'left' do %>
      <%= image_tag 'takeoff.jpg', :width => 250, :height => 165 %>
    <% end %>
    <h2>Peripheral management</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et est justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  </div>
</div>
