<div class="uncolumned">
  
  <div class="clearfix">
    <% content_tag :div, :style => 'float: left; margin: 0px 15px 10px 0' do %>
      <%= image_tag 'xyz.jpg', :width => 300, :height => 200 %>
    <% end %>
    
    <h3>Self-service check-in</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et est justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam consequat tincidunt purus ac tincidunt. Mauris lacinia, ligula a viverra vulputate, orci arcu placerat turpis, sit amet porta nisl arcu tincidunt felis.</p>
  </div>
  
  <div class="clearfix">
    <% content_tag :div, :style => 'float: right; margin: 0px 0px 10px 15px' do %>
      <%= image_tag 'xyz.jpg', :width => 300, :height => 200 %>
    <% end %>
    
    <h3>Browser-based GUI client</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et est justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam consequat tincidunt purus ac tincidunt. Mauris lacinia, ligula a viverra vulputate, orci arcu placerat turpis, sit amet porta nisl arcu tincidunt felis.</p>
  </div>
  
  <div class="clearfix">
    <% content_tag :div, :style => 'float: left; margin: 0px 15px 10px 0' do %>
      <%= image_tag 'xyz.jpg', :width => 300, :height => 200 %>
    <% end %>
    
    <h3>Passenger boarding</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et est justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam consequat tincidunt purus ac tincidunt. Mauris lacinia, ligula a viverra vulputate, orci arcu placerat turpis, sit amet porta nisl arcu tincidunt felis.</p>
  </div>
  
  <div class="clearfix">
    <% content_tag :div, :style => 'float: right; margin: 0px 0px 10px 15px' do %>
      <%= image_tag 'xyz.jpg', :width => 300, :height => 200 %>
    <% end %>
    
    <h3>Terminal emulation</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et est justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam consequat tincidunt purus ac tincidunt. Mauris lacinia, ligula a viverra vulputate, orci arcu placerat turpis, sit amet porta nisl arcu tincidunt felis.</p>
  </div>
  
  <div class="clearfix">
    <% content_tag :div, :style => 'float: left; margin: 0px 15px 10px 0' do %>
      <%= image_tag 'xyz.jpg', :width => 300, :height => 200 %>
    <% end %>
    
    <h3>Peripheral management</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et est justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam consequat tincidunt purus ac tincidunt. Mauris lacinia, ligula a viverra vulputate, orci arcu placerat turpis, sit amet porta nisl arcu tincidunt felis.</p>
  </div>
</div>
